<div class="wide-cta">
  <div class="background-image">
    {{ content.field_cta_image }}
    <div class="overlay"></div>
  </div>
  <div class="inner">
    <div class="text">
      {{ content.field_section }}
      {{ content.field_title }}
      {{ content.field_description }}
    </div>
    <div class="link">
      <div class="cta">
        {{ content.field_link }}
      </div>
    </div>
  </div>
</div>